
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


/* Global Font */
.ctgp-font {
    font-family: "Inconsolata", serif;
}

._container {
    min-height: 80vh;
    background-image: url('./assets/background-desktop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

._container::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url('./assets/pattern-lines.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pattern-top::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: url('./assets/pattern-squiggly-line-top.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: min(50%, 500px);
}

.pattern-bottom::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: url('./assets/pattern-squiggly-line-bottom.svg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: min(50%, 500px);
}

.content {
    position: relative;
    z-index: 10;
    width: min(90%,800px);
    text-align: center;
    padding: 2rem;
}

.content__header-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.content__title {
    color: white;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.content__description {
    color: #8784a4;
    font-size: 1.25rem;
}

.form {
    z-index: 10;
    width: min(70%,500px);
}
.form__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: .9rem 0 .9rem 0;
}
.form__label {
    color: white;
}
.form__item .form__input {
    width: 100%;
    border: 1px solid #4b486a;
    background-color: hsla(245, 19%, 35%, 0.13);
    color: hsl(252, 6%, 83%);
    border-radius: 12px;
    padding: .478rem;
    margin-top: .478rem;
    height: 3rem;
    outline: none;
    font-size: 1rem;
    transition: all 0.3s ease;
    backdrop-filter: blur(1px);
}
.form__item .form__input::placeholder {
    color: hsla(250, 6%, 60%, 0.445); /* Change this to your desired color */
}

.form__input:focus {
    border: 2px solid #8580b7;
    backdrop-filter: blur(2px);
}